  <div class="form-group">
    <%= f.label :new_flat, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :new_flat, class: 'text_field form-control' %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :open_plan, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :open_plan, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rooms_type, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :rooms_type, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :phone, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :internet, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :internet, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :room_furniture, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :room_furniture, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kitchen_furniture, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :kitchen_furniture, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :television, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :television, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :washing_machine, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :washing_machine, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :refrigerator, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :refrigerator, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :balcony, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :balcony, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :bathroom_unit, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :bathroom_unit, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :floor_covering, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :floor_covering, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :window_view, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :window_view, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :building_name, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :building_name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :building_type, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :building_type, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :building_series, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :building_series, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :building_phase, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :building_phase, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :building_section, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :building_section, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :building_state, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :building_state, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :built_year, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :built_year, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ready_quarter, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :ready_quarter, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lift, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :lift, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rubbish_chute, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :rubbish_chute, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :is_elite, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :is_elite, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :parking, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :parking, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alarm, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :alarm, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ceiling_height, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :ceiling_height, class: 'text_field form-control' %>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :pmg, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :pmg, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :toilet, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :toilet, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shower, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :shower, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :kitchen, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :kitchen, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pool, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :pool, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :billiard, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :billiard, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sauna, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :sauna, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :heating_supply, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :heating_supply, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :water_supply, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :water_supply, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :sewerage_supply, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :sewerage_supply, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :electricity_supply, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :electricity_supply, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gas_supply, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :gas_supply, class: 'text_field form-control' %>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :price, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :price, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_currency, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :price_currency, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_period, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :price_period, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_unit, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :price_unit, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :not_for_agents, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :not_for_agents, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :haggle, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :haggle, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :mortgage, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :mortgage, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :prepayment, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :prepayment, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rent_pledge, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :rent_pledge, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :agent_fee, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :agent_fee, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :no_agent_fee, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :no_agent_fee, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :deal_status, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :deal_status, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :with_pets, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :with_pets, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :with_children, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :with_children, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_name, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :user_name, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_first, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :phone_first, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_second, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :phone_second, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_third, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :phone_third, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_fourth, class: 'control-label col-md-4' %>
    <div class="col-md-8">
      <%= f.text_field :phone_fourth, class: 'text_field form-control' %>
    </div>
  </div>
